@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*................................................................................Colors*/

body {
    font-family: "Lato", sans-serif;
    background-color: white;
    margin: 0;
}

/*...............................................Contact us*/

.fixed-contactus{
    height: auto;
    width: 100%;
    background-color: #607D8B;
    font-size: 10px;
    text-align: center;
    padding-top: 3px;
    color: #FFF;
    font-weight: 500;
}

.fixed-contact-icon{
    padding-right: 5px;
    text-align: center;
    padding: 0;
}
    
/*..................................................Contact us End*/

/*...............................................Navigation*/


.lgte-logo{
    height: 70px;
    width: 170px;
}

/*........................................................Parallax */
.parallax-img-container{
    background-image: url("/assets/images/books.jpg");
    
    width: auto;
    height: 500px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.online-cta{
    width: 100%;
    height: 100px;
    background-color: purple;
}

.parallax-img-container-donations{
    background-image: url("/assets/images/book-love.jpg");
    
    width: auto;
    height: 500px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-img-container-home-club{
    background-image: url("/assets/images/volunteers.jpg");
    
    width: auto;
    height: 500px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
























