@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*................................................................................Colors*/

body {
    font-family: "Century Gothic", sans-serif;
    background-color: white;
    margin: 0;
    padding-top: 90px;
    width: 100%;
    height: 100%;
}

/*...............................................Navigation*/

.logo-img {
    height: 70px;
    width: 170px;
}

.logo-container {
    padding-left: 45px;

}

.nav-bg-color {
    background-color: #fff;
}

.nav {
    height: 100px;
    line-height: 90px;
}

.navmenu {
    margin: 0 90px 0 0;
}

.navmenu li {
    display: inline-block;
    text-align: center;
    height: 90px;
    margin-right: 10px;
    font-size: 17px;
    transition: transform 600ms ease-in-out;

}

.nav-wrapper ul {
    float: right;
}

.menulist-items {
    list-style-type: none;
    text-align: right;
    display: inline-block;

}

.menulist-items a {
    clear: right;
    text-decoration: none;
    color: #2c3e50;
    margin: 0 10px;
    line-height: 90px;
    font-size: 1em;
}

span {
    color: #E74C3C;
}

.nav-wrapper>label {
    margin: 0 45px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}


@media only screen and (max-width: 768px) {

    body {
        font-family: "Century Gothic", sans-serif;
        background-color: white;
        margin: 0;
        padding-top: 70px;
        width: 100%;
        height: 100%;
    }

    .nav-wrapper>label {
        display: block;
        cursor: pointer;
        margin: 0 60px 0 0;
        font-size: 2em;
    }

    .logo-img {
        margin-left: 10px;
        height: 50px;
        width: 100px;
    }

    .menulist-items {
        padding-right: 0px;
    }

    .logo-container {

        top: -8px;
    }

    .nav {
        height: 70px;
    }


    .navmenu li {
        display: block;
        background-color: #fff;
        opacity: 0.80;
        width: 168px;

    }

    .navmenu {
        text-align: center;
        display: none;
        margin-right: 10px;
        padding-top: 10px;

    }
    .navmenu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        font-size: 18px;
    }

    #toggle:checked+.navmenu {
        display: block;
    }
}

/*...............................................Navigation End*/

/*...............................................Content blocks*/

.hero-block {

    background-image: url(/assets/images/adults.jpeg);
    opacity: 0.6;
    background-color: #3498db;
    background-size: cover;
    width: 100%;
    height: 585px;

}

.above_fold {
    display: block;
}

.header-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.main_header_text {
    color: #1228d4;
    padding: 15px 15px;
    margin: 0 auto;
    font-weight: 500;
    text-shadow: 1px 1px 1px #000;
}

.tab_formats {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-top: 2px;
}

.tab_formats a {
    color: #2c3e50;
    text-decoration: none;
}

.tab_formats a:hover {
    color: #fff;

}

/*.....................................media query*/

@media (min-width: 768px) {
    .fold_tabs {
        display: flex;

    }
    .main_header_text {
        font-size: 2.5em;
    }
}

.fold_tab_one {
    background-color: #f39c12;

}

.fold_tab_two {
    background-color: #f39c12;

}

.fold_tab_three {
    background-color: #f39c12;

}

/*..............................New block*/

.who_we_are_block {
    background-color: #34495e;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    display: flex;
    
}

.features_wrapper {
    margin: 20px 20px;
}

.btn-default {
    border: 2px solid #fff;
    height: 35px;
    width: 90px;
    background-color: transparent;
    color: #f39c12;
    font-weight: 700;
    border-radius: 0;
    font-size: 12px;
}

.btn-default:hover {
    background-color: inherit;
    color: #000;
    border: 1px solid #fff;
}

.icon_format {
    color: #fff;
    padding-right: 5px;
    font-size: 14px;
}

.lgte_features {
    color: #ecf0f1;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
}

.lgte_features h3 {
    font-size: 1.8em;
    color: #f39c12;
}



/*.............................Next block*/

.profile_block {
    background-color: #f5f5f5;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    border: 1px solid #000;
}

.profile_wrapper {
    margin: 0px 20px 0 15px;
    height: auto;
    width: 100%;
    line-height: 25px;
}

.profile_img {
    display: flex;
    justify-content: center;
}

.profile_text {
    text-align: left;
    line-height: inherit;
}

.profile_text h3 {
    text-align: center;
}

.profile_text h6 {
    text-align: center;
}

.img_wrap {
    margin: auto;
}

.circle_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 40%;
    margin-bottom: 12px;
}

/*..............................Next block*/

.contact_block {
    background-color: #31708f;
    background-size: cover;
    width: 100%;
    height: auto;
    ;
}

.contact_wrapper {
    margin: 20px 20px;
}

.contact_form {
    font-size: 1em;
}

.form-control {
   border-radius: 0;
}

.contact_btn {
    float: right;
    height: 50px;
    width: 150px;
    font-size: 1em;
    color: inherit;
    
}

.contact_btn:hover{
    background-color: inherit;
}




/*.......................................................Footer*/

.block-footer {
    background-color: #20475C;
    width: 100%;
    height: 200px;
}


/*........................................................Parallax */

.parallax-effect {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*........................................................Transition */

.loading-trans {
    width: 10px;
    height: 10px;
    background: #000;
    position: relative;
    animation: loadingbar 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation: loadingbar 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes loadingbar {
    from {
        left: 0px;
    }
    to {
        left: 50%;
    }
}

.navmenu li:hover {
    transform: rotate(20deg);
    color: red;
}


/*........................................................Transition End */
