@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*................................................................................Colors*/

body {
    font-family: "Lato", sans-serif;
    background-color: #fff;
    margin: 0;

}

/*...............................................Navigation*/
.list-items-text{
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

@media (min-width: 320px) {
    
}

/*Navigation End*/


.footer-menu{
    height: 100px;
    background-color: black;
}